<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<mat-toolbar>Regras</mat-toolbar>
<div class="descricao">
  <mat-card-subtitle>Veja as regras para doar sangue.</mat-card-subtitle>
</div>

<div class="telaCamp">
  <mat-card class="cardcamp">
    <mat-card-content>
      <p>Podem doar sangue pessoas entre 16 e 69 anos e que estejam pesando mais de 50kg. Além disso, 
        é preciso apresentar documento oficial com foto e menores de 18 anos só podem doar com consentimento formal dos responsáveis.</p>
      <p>Pessoas com febre, gripe ou resfriado, diarreia recente, grávidas e mulheres no pós-parto não podem doar temporariamente.</p>
      <p>O procedimento para doação de sangue é simples, rápido e totalmente seguro. Não há riscos para o doador, porque nenhum material 
        usado na coleta do sangue é reutilizado, o que elimina qualquer possibilidade de contaminação.</p>
      <p>Uma pessoa adulta tem, em média, 5 litros de sangue. Em cada doação, o máximo de sangue retirado é de 450 ml. </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Requisitos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <li>Estar alimentado. Evite alimentos gordurosos nas 3 horas que antecedem a doação de sangue.</li>
      <li>Caso seja após o almoço, aguardar 2 horas.</li>
      <li>Ter dormido pelo menos 6 horas nas últimas 24 horas.</li>
      <li>Pessoas com idade entre 60 e 69 anos só poderão doar sangue se já o tiverem feito antes dos 60 anos.</li>
      <li>A frequência máxima é de quatro doações de sangue anuais para o homem e de três doações de sangue anuais para as mulher.</li>
      <li>O intervalo mínimo entre uma doação de sangue e outra é de dois meses para os homens e de três meses para as mulheres.</li>
    </mat-card-content>
  </mat-card>
</div>

<nav class="navbar fixed-bottom">
  <div class="navbar">
    <a href="/agendamentos"><i class="fa fa-address-card" aria-hidden="true"></i></a>
    <a href="/campanhas"><i class="fa fa-fw fa-home"></i></a>
    <a href="/regras"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
  </div>
</nav>
<script src="./enter.js"></script>