<form class="tela" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-card-subtitle>Faça login para acessar sua conta</mat-card-subtitle>
    <mat-form-field>
        <input matInput name="email" ngModel #emailInput="ngModel" type="email" placeholder="Email" required email>
        <mat-error *ngIf="emailInput.invalid">Digite um email válido</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="password" #passwordInput="ngModel" ngModel type="password" placeholder="Senha" required>
        <mat-error *ngIf="passwordInput.invalid">Senha inválida</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit"  >Login</button>
    <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Não tenho conta.</a>
</form>