<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<mat-toolbar>Lembretes</mat-toolbar>
<div class="descricao">
  <mat-card-subtitle>Veja os seus lembretes de doação de sangue.</mat-card-subtitle>
</div>

<div class="telaCamp">
  <mat-card class="cardcamp" *ngFor="let agendamento of agendamentos ">
    <mat-card-header>
      <mat-card-title>Lembrete</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!this.agendamento.isComplete">
      <p>Campanha: {{agendamento.campSelect}}</p>
      <p>Data: {{agendamento.data}}</p>
      <p>Horario: {{agendamento.horario}}</p>
      <p>Local: {{agendamento.local}}</p>

    </mat-card-content>
    <button mat-raised-button (click)="onDelete(agendamento.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
  </mat-card>
</div>

<nav class="navbar fixed-bottom">
  <div class="navbar">
    <a href="/agendamentos"><i class="fa fa-address-card" aria-hidden="true"></i></a>
    <a href="/campanhas"><i class="fa fa-fw fa-home"></i></a>
    <a href="/regras"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
  </div>
</nav>
<script src="./enter.js"></script>