<mat-card >
    <mat-card-header>
      <mat-card-title>titulo</mat-card-title>
      <mat-card-subtitle>descrição</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.gov.br/pt-br/noticias/saude-e-vigilancia-sanitaria/2020/06/ministerio-da-saude-lanca-nova-campanha-de-doacao-de-sangue-2020/doacao.jpg/@@images/aebacd62-1e6d-463e-88f3-296a739607c6.jpeg">
    <mat-card-content>
      <p>
        texto sobre a campanha e instruções
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>realizar agendamento</button>
    </mat-card-actions>
  </mat-card>
  