<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<mat-toolbar>Campanhas</mat-toolbar>
<div class="descricao">
  <mat-card-subtitle>Veja as campanhas ativas em São Paulo - SP</mat-card-subtitle>
</div>
<div class="filtro">
  <mat-form-field>

    <mat-label>Filtro</mat-label>
    <input class="filtroInp" (keyup)="applyFilter($event.target.value)" matInput type="text" placeholder="Selecione um tipo sanguineo"
      matInput [matAutocomplete]="auto" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="bot" mat-raised-button onclick="window.location.reload()">Limpar filtro</button>
</div>

<div class="telaCamp">
  <mat-card class="cardcamp" *ngFor="let campanha of campanhas ">
    <mat-card-header>
      <mat-card-title>{{campanha.titulo}}</mat-card-title>
      <mat-card-subtitle>
        <p>De {{campanha.dataIni}} até {{campanha.dataFim}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Tipo de sangue requerido: {{campanha.tipoSang}} </p>
      <p>Local: {{campanha.local}}</p>
      <p>Horario: {{campanha.horaIni}} ate {{campanha.horaFim}}</p>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Criar lembrete de doação
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <form class="tela" (submit)="onAgendamento(agendamentoForm)" #agendamentoForm="ngForm">
          <mat-form-field>
              <mat-select value="" matInput placeholder="Selecione a campanha" name="campSelect" ngModel #campSelect="ngModel">
                <mat-option value={{campanha.titulo}}>{{campanha.titulo}}</mat-option>
               </mat-select>
          </mat-form-field>
          <mat-form-field>
              <input type="text" required matInput placeholder="Digite uma data dentro do prazo" name="data" ngModel #data="ngModel" />
              <mat-error *ngIf="data.invalid">Digite uma data válida</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input required type="time" matInput placeholder="Escolha um horario de atendimento" name="horario" ngModel #horario="ngModel" />
              <mat-error *ngIf="horario.invalid">Digite um horario válido</mat-error>
          </mat-form-field>
          <mat-form-field>
             <mat-select value="" matInput placeholder="Selecione o local" name="local" ngModel #local="ngModel">
              <mat-option value={{campanha.local}}>{{campanha.local}}</mat-option>
             </mat-select>
          </mat-form-field>
          <br>
          <button mat-raised-button >Criar</button>
      </form>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>

<div class="descricaoFim">
  <mat-card-subtitle>Lista atualizada diariamente.</mat-card-subtitle>
</div>

<nav class="navbar fixed-bottom">
  <div class="navbar">
    <a href="/agendamentos"><i class="fa fa-address-card" aria-hidden="true"></i></a>
    <a href="/campanhas"><i class="fa fa-fw fa-home"></i></a>
    <a href="/regras"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
    <a href="/login" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </div>
</nav>
<script src="./enter.js"></script>